* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1280px;
    margin: 0 auto;
    width: 100%;
}

body > header {
    padding: 16px 0;
    background-color: rgba(12, 12, 12, .45);
    margin-bottom: 60px;
}

header {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
}

header h1 {
    margin-left: 16px;
    color: #fff;
    font-size: 70px;
}

header .container,
body .bodyy,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline;
    padding: 16px;
    margin-right: 16px;
}

header nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    background-color: orange;
    padding: 8px;
    border-radius: 40px;
    
}

header nav li a:hover {         
    background-color: rgb(236, 185, 88)
}

body {
    height: 100vh;
    background-image: url(./Images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#about-us {
    background-color: rgba(107, 107, 107, 0.5);
    width: 640px;
    padding: 16px;
    margin: 12px 12px;
    border-radius: 12px;
    border-color: #fff;
    border-style: ridge;
    box-shadow: 10px 10px 5px rgba(12, 12, 12, .45);
}

#about-us h2 {
    font-size: 108px;
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: center;
    margin: 16px auto;
    
}

#about-us p {
    font-size: 24px;
    color: #fff;
    padding: 8px;
    margin: 8px 8px;
    display: flex;
    justify-content: center;
    text-align: justify;
}

#join-us {
    background-color: rgba(107, 107, 107, 0.5);
    /* width: 640px;*/
    padding: 0 40px;
    margin: 12px 12px;
    margin-bottom: 253px;
    justify-content: right;
    border-radius: 12px 0 0 12px;
    border-color: #fff;
    border-style: ridge;
    box-shadow: 10px 10px 5px rgba(12, 12, 12, .5);
}

#join-us h2 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 12px;
    padding: 16px;

}

/*#join-us h3 {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 8px 8px;
}*/

#join-us a {
    text-decoration: none;
    background-color:orange;
    color: #fff;
    padding: 8px;
    margin: 8px 8px;
    display: flex;
    justify-content: center;   
    border-radius: 40px;
}

#join-us a:hover {         
    background-color: rgb(236, 185, 88)
}

footer {
    background-color:rgba(12, 12, 12, .45);
    color: #fff;
    padding: 16px 0px;
}

.bodyy {
    margin-bottom: 12px;
}

